<!DOCTYPE html>
<html>
  <head>
    <%- include('layout/head') %>
    <title>Server Error</title>
  </head>
  <body>
    <%- include('layout/header') %>
    <h1>Error <%= statusCode %></h1>
    <p><%= error.message %></p>

    <p>Sorry, something went wrong.</p>
    <%- include('layout/footer') %>
  </body>
</html>
